<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.www.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="Order">
        <id property="orderId" column="order_id"/>
        <result property="name" column="name"/>
        <result property="area" column="area"/>
        <result property="detailAddress" column="detail_address"/>
        <result property="phone" column="phone"/>
        <result property="fixedPhone" column="fixed_phone"/>
        <result property="postcode" column="postcode"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteStatus" column="delete_status"/>
        <result property="giftPoint" column="gift_point"/>
        <result property="orderNumber" column="order_number"/>
        <result property="orderStatus" column="order_status"/>
        <result property="paymentStatus" column="payment_status"/>
        <result property="paymentType" column="payment_type"/>
        <result property="totalMoney" column="total_money"/>
        <result property="userId" column="user_id"/>
        <result property="couponId" column="coupon_id"/>
    </resultMap>
    <insert id="insert" useGeneratedKeys="true" keyProperty="orderId">
        insert into t_order(order_number, user_id, payment_type, total_money,
                            name, area, detail_address, phone, fixed_phone, postcode, coupon_id)
        values (#{order.orderNumber}, #{order.userId}, #{order.paymentType}, #{order.totalMoney}, #{order.name},
                #{order.area}, #{order.detailAddress}, #{order.phone}, #{order.fixedPhone}, #{order.postcode},
                #{order.couponId});
    </insert>
    <select id="selectByOrderId" resultMap="BaseResultMap">
        select order_id,
               order_number,
               user_id,
               payment_status,
               payment_type,
               total_money,
               create_time,
               name,
               area,
               detail_address,
               phone,
               fixed_phone,
               postcode,
               order_status,
               coupon_id,
               gift_point,
               delete_status
        from t_order
        where delete_status = 0
          and order_id = #{orderId}
    </select>
    <update id="updatePaymentStatusByOrderId">
        update t_order
        set payment_status =#{status}
        where order_id = #{orderId}
    </update>
    <update id="updateOrderStatusByOrderId">
        update t_order
        set order_status =#{status}
        where order_id = #{orderId}
    </update>
</mapper>