<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.www.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="Order">
        <id property="orderId" column="order_id"/>
        <result property="name" column="name"/>
        <result property="area" column="area"/>
        <result property="detailAddress" column="detail_address"/>
        <result property="phone" column="phone"/>
        <result property="fixedPhone" column="fixed_phone"/>
        <result property="postcode" column="postcode"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteStatus" column="delete_status"/>
        <result property="giftPoint" column="gift_point"/>
        <result property="orderNumber" column="order_number"/>
        <result property="orderStatus" column="order_status"/>
        <result property="paymentStatus" column="payment_status"/>
        <result property="paymentType" column="payment_type"/>
        <result property="totalMoney" column="total_money"/>
        <result property="userId" column="user_id"/>
        <result property="couponId" column="coupon_id"/>
    </resultMap>

    <resultMap id="OrderBoResultMap" type="com.mall.www.common.bo.OrderBo" extends="BaseResultMap">
        <collection property="orderItemList" resultMap="com.mall.www.mapper.OrderItemMapper.BaseResultMap"/>
    </resultMap>
    <insert id="insert" useGeneratedKeys="true" keyProperty="orderId">
        insert into t_order(order_number, user_id, payment_type, total_money,
                            name, area, detail_address, phone, fixed_phone, postcode, coupon_id)
        values (#{order.orderNumber}, #{order.userId}, #{order.paymentType}, #{order.totalMoney}, #{order.name},
                #{order.area}, #{order.detailAddress}, #{order.phone}, #{order.fixedPhone}, #{order.postcode},
                #{order.couponId});
    </insert>
    <select id="selectByOrderId" resultMap="BaseResultMap">
        select order_id,
               order_number,
               user_id,
               payment_status,
               payment_type,
               total_money,
               create_time,
               name,
               area,
               detail_address,
               phone,
               fixed_phone,
               postcode,
               order_status,
               coupon_id,
               gift_point,
               delete_status
        from t_order
        where delete_status = 0
          and order_id = #{orderId}
    </select>
    <update id="updatePaymentStatusByOrderId">
        update t_order
        set payment_status =#{status}
        where order_id = #{orderId}
    </update>
    <update id="updateOrderStatusByOrderId">
        update t_order
        set order_status =#{status}
        where order_id = #{orderId}
    </update>
    <select id="selectListByUserId" resultMap="OrderBoResultMap">
        select o.order_id,
               o.order_number,
               o.user_id,
               o.payment_status,
               o.payment_type,
               o.total_money,
               o.create_time,
               o.name,
               o.area,
               o.detail_address,
               o.phone,
               o.fixed_phone,
               o.postcode,
               o.order_status,
               o.coupon_id,
               o.gift_point,
               o.delete_status,
               oi.order_item_id,
               oi.order_id,
               oi.order_number,
               oi.product_id,
               oi.product_pic,
               oi.product_name,
               oi.product_price,
               oi.product_quantity,
               oi.delivery_type,
               oi.tracking_number,
               oi.delete_status
        from t_order o
                     left join t_order_item oi on o.order_id = oi.order_id
        where o.delete_status = 0
          and o.user_id = #{userId}
    </select>
    <update id="deleteByOrderId">
        update t_order
        set delete_status=1
        where order_id = #{orderId};
    </update>
    <select id="selectOrderBoByOrderId" resultMap="OrderBoResultMap">
        select o.order_id,
               o.order_number,
               o.user_id,
               o.payment_status,
               o.payment_type,
               o.total_money,
               o.create_time,
               o.name,
               o.area,
               o.detail_address,
               o.phone,
               o.fixed_phone,
               o.postcode,
               o.order_status,
               o.coupon_id,
               o.gift_point,
               o.delete_status,
               oi.order_item_id,
               oi.order_id,
               oi.order_number,
               oi.product_id,
               oi.product_pic,
               oi.product_name,
               oi.product_price,
               oi.product_quantity,
               oi.delivery_type,
               oi.tracking_number,
               oi.delete_status
        from t_order o
                     left join t_order_item oi on o.order_id = oi.order_id
        where o.delete_status = 0
          and o.order_id = #{orderId};
    </select>

    <select id="selectListByCondition" resultMap="OrderBoResultMap">
        select o.order_id,
               o.order_number,
               o.user_id,
               o.payment_status,
               o.payment_type,
               o.total_money,
               o.create_time,
               o.name,
               o.area,
               o.detail_address,
               o.phone,
               o.fixed_phone,
               o.postcode,
               o.order_status,
               o.coupon_id,
               o.gift_point,
               o.delete_status,
               oi.order_item_id,
               oi.order_id,
               oi.order_number,
               oi.product_id,
               oi.product_pic,
               oi.product_name,
               oi.product_price,
               oi.product_quantity,
               oi.delivery_type,
               oi.tracking_number,
               oi.delete_status
        from t_order o
                     left join t_order_item oi on o.order_id = oi.order_id
                where o.delete_status = 0
                  and o.user_id = #{searchDto.userId}
        <if test="searchDto.orderNumber != null">
            and o.order_number = #{searchDto.orderNumber}
        </if>
        <if test="searchDto.productName != null">
            and oi.product_name = #{searchDto.productName}
        </if>
        <if test="searchDto.beginTime != null and searchDto.endTime != null">
            and (o.create_time between #{searchDto.beginTime} and #{searchDto.endTime})
        </if>
        <if test="searchDto.name != null">
            and o.name = #{searchDto.name}
        </if>
        <if test="searchDto.paymentType != null">
            and o.payment_type = #{searchDto.paymentType}
        </if>
        <if test="searchDto.deliveryType != null">
            and oi.delivery_type = #{searchDto.deliveryType}
        </if>
        <if test="searchDto.minMoney != null and searchDto.maxMoney != null">
            and (o.total_money between #{searchDto.minMoney} and #{searchDto.maxMoney})
        </if>
    </select>
</mapper>