<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.www.mapper.StockMapper">
    <resultMap id="BaseResultMap" type="Stock">
        <id property="stockId" column="stock_id"/>
        <result property="deleteStatus" column="delete_status"/>
        <result property="productId" column="product_id"/>
        <result property="reservation" column="reservation"/>
        <result property="total" column="total"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="selectByProductIds" resultMap="BaseResultMap">
        select stock_id, product_id, total, reservation, update_time, delete_status
        from t_stock
                where delete_status = 0
                  and product_id in
        <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
            #{productId}
        </foreach>
    </select>
</mapper>