<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.www.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result  property="sex" column="sex"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="birthday" column="birthday"/>
        <result property="identity" column="identity"/>
        <result property="is_marital" column="is_marital"/>
        <result property="member" column="member"/>
        <result property="income" column="income"/>
        <result property="is_cart" column="iscart"/>

    </resultMap>

<sql id="user">
    id,name,password,email,sex,address,phone,birthday,identity,,is_marital,
    member,income,is_cart
</sql>

<select id="login" resultType="integer">
select id from user where name=#{name} and password=#{pwd}
</select>

<insert id="addUser">
insert into user (name,password,email)
values (#{name},#{pwd},#{em})
</insert>

<update id="upPassword">
update user set password=#{newPwd} where name =#{name} AND password=#{pwd}
</update>


<update id="upDateUser">
update user
set email=#{upUser.email},sex=#{upUser.sex},address=#{upUser.address},phone=#{upUser.phone},
birthday=#{upUser.birthday},identity=#{upUser.identity},is_marital=#{upUser.is_marital},
member=#{upUser.member},income=#{upUser.income},is_cart=#{upUser.is_cart}
where name=#{upUser.name}
</update>

<update id="upPasswordByEmail">
update user set password=#{newPwd} where email=#{email}
</update>

<select id="isEmailExist" resultType="integer">
select count(*) from user where email=#{email}
</select>

</mapper>